*{
  margin:0px;padding:0px;box-sizing:border-box;font-family: "Work Sans";
}
p{
  font-family: "Work Sans";letter-spacing: 0.5px;
  font-weight: 400;
  font-style: normal;
  color: #1f1f1f;
}
/* Colors extracted from the logo */
:root {
  --primary-blue: #005b8f; /* Dark blue from the logo */
  --secondary-green: #00a36c; /* Green shade from the logo */
  --text-gray: #4d4d4d; /* Neutral gray for text */
  --background-light: #f0f9f8; /* Light teal-like background */

  --transparent-bg: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
  --solid-bg: #ffffff; /* Solid white */
  --text-color: #333333; /* Dark text for readability */
  --hover-color: #005b8f; /* Complementary color from the logo */
}
